/* BASE STYLES */

* {
    font-family: sans-serif;
    font-size: 20px;
}
body {
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
}
.navbar {
    width: 100%;
    background-color: #59d9a1;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.logo {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    justify-content: flex-end;
}

.nav-item:hover {
    background-color: white;
}

.sidebar p:hover {
    background-color: white;
    color: #242457;
}

.nav-item:hover a {
    color: #59d9a1;
}

.logo img {
    width: 15%;
    vertical-align: middle;
}

.sidebar {
    background-color: #242457;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
}

footer img {
    width: 5%;
    display: flex;
    align-items: center;
}

.flex-main {
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
    padding-right: 2.5rem;
    display: flex;
}

.image-container {
    height: 30vh;
    width: 20vw;
    background-color: #505ff9;
    margin: 2rem;
    color: #fff;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: #59d9a1;
    display: flex;
    justify-content: space-evenly;
}

/* CODE YOUR FLEXBOXES HERE */
.main-content {
    display: flex;
    flex-wrap: wrap;
}
