/* BASE STYLES */
* {
  font-family: sans-serif;
  font-size: 20px;
}
.navbar {
  width: 100vw;
  background-color: #59d9a1;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.sidebar p:hover {
  background-color: white;
  color: #242457;
}

.nav-item:hover a {
  color: #59d9a1;
}

.logo img {
  width: 15%;
  vertical-align: middle;
}

.sidebar {
  background-color: #242457;
  color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer img {
  width: 3%;
}

.flex-main {
  background-color: #f5f5f5;
  width: 100%;
  padding-right: 2.5rem;
  display: flex;
  flex-direction: row;
}

.image-container {
  height: 30vh;
  width: 20vw;
  background-color: #505ff9;
  margin: 2rem;
  color: #fff;
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  padding: 1rem;
  background-color: #59d9a1;
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* CODE YOUR FLEXBOXES HERE */
