/* BASE STYLES */
* {
    font-family: sans-serif;
    font-size: 20px
}
.navbar {
    background-color: #59D9A1;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo {
    display: inline-block;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
  
.nav-item:hover {
    background-color: white;
}

.sidebar p:hover {
    background-color: white;
    color: #242457;
}
  
.nav-item:hover a {
    color: #59D9A1;
}
  
.logo img {
    width: 15%;
    vertical-align: middle;
}

.sidebar {
    width: 20%;
    background-color: #242457;
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50vh;
}

footer img {
    width: 3%;
}

.flex-main {
    background-color: #F5F5F5;
    width: 100%;
    padding-right: 2.5rem;
    display: flex;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.image-container{
    height: 30vh;
    width: 20vw;
    background-color: #505FF9;
    margin: 2rem;
    color: #fff;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container:nth-child(2),
.image-container:nth-child(5),
.image-container:nth-child(8) {
  flex-grow: 1; 
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: #59D9A1;
    display: flex;
    justify-content: space-around;
}

/* CODE YOUR FLEXBOXES HERE */
