/* BASE STYLES */
* {
    font-family: sans-serif;
    font-size: 20px
}
.navbar {
    width: 100vw;
    background-color: #59D9A1;
    padding-left: 30px;
    padding-right: 10px;
}
  
.logo {
    display: inline-block;
}
  
.nav-links {
    list-style: none;
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
  
.nav-item:hover {
    background-color: white;
}

.sidebar p:hover {
    background-color: white;
    color: #242457;
}
  
.nav-item:hover a {
    color: #59D9A1;
}
  
.logo img {
    width: 15%;
    vertical-align: middle;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    color: white;
    background-color: darkblue;
    padding: 20px;
    margin: 10px 0;
}

footer img {
    width: 3%;
}

.flex-main {
    display: flex;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    flex-grow: 1;
}

.image-container{
    height: 25vh;
    width: 20vh;
    background-color: #505FF9;
    margin: 2rem;
    color: #fff;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    padding: 1rem;
    background-color: #59D9A1;
}

/* CODE YOUR FLEXBOXES HERE */
